@media (max-width: 767px) {
.portfolio-area {
    padding-top: 0px;
  }
.section-headline h2 {
    font-size: 30px;
  }

.section-headline h3 {
    font-size: 25px;
  }

.project-menu li a {
    padding: 8px 12px;
    margin: 10px 4px;
  }
.main-menu ul.navbar-nav li.active a::after, .stick .main-menu ul.navbar-nav li.active a::after {
    border: 0px solid #fff;
  }

 .single-awesome-project, .portfolio-2 .single-awesome-project {
    width: 100%;
    float: none;
  }
